[submodule "flow"]
	path = flow
	url = ../flow.git
[submodule "ipc_core"]
	path = ipc_core
	url = ../ipc_core.git
[submodule "ipc_transport_structured"]
	path = ipc_transport_structured
	url = ../ipc_transport_structured.git
[submodule "ipc_session"]
	path = ipc_session
	url = ../ipc_session.git
[submodule "ipc_shm"]
	path = ipc_shm
	url = ../ipc_shm.git
[submodule "ipc_shm_arena_lend"]
	path = ipc_shm_arena_lend
	url = ../ipc_shm_arena_lend.git
