# This is created by a staging script which is optionally invoked (stage_generated_docs.sh)
# but should not be checked-in.  (The nearby similarly-named dir can be checked-in but
# as of this writing only by an automated workflow and only in a branch (like GitHub `main`)
# intended for at least read-only consumption as opposed to merely development.)
/*_doc.tgz
